.portfolio__wrap,
.portfolio__secondary-wrap,
.portfolio__secondary-wrap-top,
.portfolio__secondary-wrap-bottom {
  display: flex;
  justify-content: space-between;
}

.portfolio__secondary-wrap {
  flex-direction: column;
}

.portfolio__main-wrap,
.portfolio__secondary-wrap,
.portfolio__secondary-image {
  width: calc((100% - 40px) / 2);
}

// ====================================================================== //

.portfolio__slider {
  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow: hidden;

  margin-top: 40px;
  margin-bottom: 40px;
}

.portfolio__slider .container {
  padding-left: 0;
  padding-right: 0;
}

.portfolio__slider-wrap-left,
.portfolio__slider-wrap-right {
  display: flex;
  gap: 20px;
}

.portfolio__slider-wrap-right {
  flex-direction: row-reverse;
}

.portfolio__slider-left {
  flex-shrink: 0;
  width: calc((100% - 120px) / 7);
  animation: portfolio__slider-left 15s linear infinite;
}

.portfolio__slider-right {
  flex-shrink: 0;
  width: calc((100% - 120px) / 7);
  animation: portfolio__slider-right 15s linear infinite;
}

@keyframes portfolio__slider-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-217vw);
  }
}

@keyframes portfolio__slider-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(217vw);
  }
}
